* {
    box-sizing: border-box;
    font-family: 'Poppins', sem serifa;
    padding: 0;
    margin: 0;

}

header {

    margin: 47px 0 42px;
}

.link-header {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 32px;
    color: #17233D;
    cursor: pointer;
}

.button-header {

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    background: #6FBF44;
    border-radius: 6px;
    Width: 124px;
    Height: 51px;
    cursor: pointer;
}

section {
   display: inline-block;
   margin-left: 84.98px;
}

.logo-imagem {
display: inline-block;   
margin-Left:121px;   
margin-top: 163px;
Height:501px;
Width: 596px;
}



h1 {

    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color:#161A49;
    margin-right: 84.98px;
    letter-spacing:  0.596154px;

}


p {
font-weight: 400;
font-size: 18px;
line-height: 33px;   
width:400px ;
margin-right: 84.98px;
margin-top: 47px;
color: #4B505A;
letter-spacing:  0.5px;

}



.button-main {
    
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #6FBF44;
border:none;
margin-top: 55px;
cursor: pointer;

}