


.box{  
width: 50px;
height: 50px;
background: #f0f;
 margin: 20px;   /*   Margin é o espaço externo e paddin é o espaço interno*/
padding: 20px;   
}


/* Esse  comando serve para o padding e margin

margin-top 20px
margin-bottom 20px
margin-left 30px
margin-rihgt 5px 


outro modo de digitar esse comando ...modo relógio.

margin 20px 5px  20px  30px
       12h  15h   18h   21h

quando damos apenas 3 valores ela vai aplicar o 1 para o top o segundo valor para os 2 lados e o 3 para bottom (baixo).

quando damos apenas 2 valores ele vai aplicar o 1 para cima e para baixo e o 2 valor para ambos os lados.

e apenas um valor aplica em todos os lados.
*/      


/*  Box-sizing

border-box sempre vai manter o tamanho da altura e largura 
do seu projeto, não importa o que acrecentemos nele.
content-box 
conforme adicionamos coisas a altura e largura do nosso projeto 
vai alterando.*/
