

/* Pseudo elemento é o dois pontos duplo ex   :: 

se quiser muda a placeholder colocamos o nome  input::placeholder

{ 
color:red; } 

estou usando o p para representar o elemento paragrafo....ao usar outro elemento usaremos a letra do outro elemento.

p::first-letter - esse comando seleciona a primeira palavra do texto para fz a modificação necessaria 

P::first-line - esse comando seleciona a primeira lina do texto.

P::before {
content: "♫ "; Esse comando nos permite colocar algum item depois do coteudo
esse contant é podemos colocar  um conteudo.
}
 

P::after
{
contant: "♫ ";
Esse comando nos permite colocar algum item depois do coteudo

}

*/