

/*  fonte weigth ----deixa a linha do texto mais grossa 
    bold ---mais grossa ---bolder ---mais grossa ainda.
    lighter-----deixa as letras fininhas.
    fonte style---muda o modelo das letras
    line heigth ----aumenta o espaçamentos das letras.
    letter spacing ----espaçamento lateral das letras.
    text align--- alinhamento do texto.... left, center ou right.
    text align---justify--- deixa o texto bem quadradinho
    text-transform: uppercase;;--- deixa todas as letras maiuscula
    text-transform: lowercase;----- deixa todas as letras minuscula
    text-transform: capitalize----deixa as primeiras letras minuscula
    text-decoration: underline;---- deixa todo texto com underline em baixo.
    text-decoration: overline;---deixa uma linha em cima de todo o texto.
    text-shadow: primeiro valor esfumaçado na horizontal/ segundo vertical/ terceiro é o quanto vai ficar esfumaçado ou solido/ quarto cor da sombra.

      */





h1 {
    font-size: 64px;
    color: #ff0000;
    font-family: 'Oswald', sem serifa;
    text-shadow: 10px 10px 10px forestgreen;
}


p {
    font-size: 23px;
    color: blue;
    font-family: 'Oswald', sem serifa;
    font-style: italic;
    line-height: 30px;
    letter-spacing: 4px;
    text-transform: capitalize;
    text-decoration: overline;
}